<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="gnucash-android-tests" verbose="1">
    <listeners>
        <listener class-name="common.MyTestListener"/>
    </listeners>
    <test name="android-tests">
        <parameter name="accountName" value="Test Account"/>
        <parameter name="accountDescription" value="This is the account description."/>
        <parameter name="updatedAccountName" value="Test Account 2"/>
        <parameter name="transactionAmount" value="500"/>
        <parameter name="transactionDescription" value="This is the transaction description."/>
        <parameter name="expectedTransactionAmount" value="$500.00"/>
        <classes>
            <class name="tests.CustomAccountsTests">
                <methods>
                    <include name="verifyCompleteSetup"/>
                    <include name="verifyCreateAccount"/>
                    <include name="verifyEditAccount"/>
                    <include name="verifyMarkAccountAsFavorite"/>
                    <include name="verifyDeleteAccount"/>
                </methods>
            </class>
            <class name="tests.DefaultAccountsTests">
                <methods>
                    <include name="verifyCompleteSetup"/>
                    <include name="verifyCreateTransactionInDefaultAccount"/>
                    <include name="verifyDeleteTransaction"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>