<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="gnucash-android-tests" verbose="1">
    <listeners>
        <listener class-name="common.MyTestListener"/>
    </listeners>
    <test name="android-tests">
        <classes>
            <class name="tests.CustomAccountsTests">
                <methods>
                    <include name="verifyCompleteSetup"/>
                    <include name="verifyCreateAccount"/>
                    <include name="verifyEditAccount"/>
                    <include name="verifyMarkAccountAsFavorite"/>
                    <include name="verifyDeleteAccount"/>
                </methods>
            </class>
            <class name="tests.DefaultAccountsTests">
                <methods>
                    <include name="verifyCompleteSetup"/>
                    <include name="verifyCreateTransactionInDefaultAccount"/>
                    <include name="verifyDeleteTransaction"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>