<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="api-tests" verbose="1">
    <listeners>
        <listener class-name="common.MyTestListener"/>
    </listeners>
    <test name="best-buy-api-tests">
        <parameter name="defaultEntityLimit" value="10"/>
        <parameter name="invalidEntityId" value="someInvalidEntityId"/>
        <classes>
            <class name="tests.ProductsTests">
                <methods>
                    <include name="verifyDefaultProductLimit"/>
                    <include name="verifyProductLimit"/>
                    <include name="verifyProductDetails"/>
                    <include name="verifyAllProductsReturns404ForInvalidProductId"/>
                </methods>
            </class>
            <class name="tests.CategoriesTests">
                <methods>
                    <include name="verifyDefaultCategoryLimit"/>
                    <include name="verifyCategoryLimit"/>
                    <include name="verifyCategoryDetails"/>
                    <include name="verifyReturns404ForInvalidCategoryId"/>
                </methods>
            </class>
            <class name="tests.ServicesTests">
                <methods>
                    <include name="verifyDefaultServiceLimit"/>
                    <include name="verifyServiceLimit"/>
                    <include name="verifyServiceDetails"/>
                    <include name="verifyReturns404ForInvalidServiceId"/>
                </methods>
            </class>
            <class name="tests.StoresTests">
                <methods>
                    <include name="verifyDefaultStoreLimit"/>
                    <include name="verifyStoreLimit"/>
                    <include name="verifyStoreDetails"/>
                    <include name="verifyReturns404ForInvalidStoreId"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>